body {
  color: #F5DEB3;
  background-color: #424C55;
  margin: 0px;
}

/* Navigation Bar */
.navbar {
    margin-bottom: 0;
    background-color: transparent;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #051a1b !important;
    /* background-color: #fff !important; */
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-fixed-top.scrolled {
  background-color: #070f13 !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color:#555;
}

/* Parallax scrolling */
.parallax-window {
    min-height: 400px;
    background: transparent;
}

.headerHeight {
  font-size: 80px;
  margin: 0px;
  padding-top: 150px;
}

.subHeaderHeight {
  font-size: 40px;
  padding-bottom: 130px;
  margin: 0px;
}

.imageSize2 {
  font-size: 70px;
  width:inherit;
  /* height: 400px !important; */
  padding: 175px 0px;
  margin: 0px;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

/* Landing Animation */
header {
  position: relative;
  -webkit-animation-name: headerFade; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: headerFade;
  animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes headerFade {
  0%   {top:-20px; opacity: 0;}
  100%  {top:0px; opacity: 1;}
}

/* Standard syntax */
@keyframes headerFade {
  0%   {top:-20px; opacity: 0;}
  100%  {top:0px; opacity: 1;}
}

/* SKILLS */
#skills {
  background-color: #424C55;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #F5DEB3;
    border-radius: 20px;
    margin: 1px 40px;
    padding: 0;
}

.custIcon {
  color: #F5DEB3;
  font-family: "Futura";
  text-align: center;
  border-style: solid;
  border-radius: 15px;
  padding: 30px;
  margin: 35px;
}

/* Container */
.container-fluid {
  padding: 60px 50px;
  }

.bg-grey {
  background-color:#bed8da;
  }

.white {
  background-color: white;
}

/* .abtColor {
  color: white;
  background-color: #a98544;
} */

/* .info {
  color: black;


} */

#contactContainer {
    background-color:#06171d;
    color:#FCFEFF;
    }
/*
the following: .logo & @media screen ;
media queries will center the "logo column" on screens smaller than 768 pixels wide
color: #f4511e; adds same color from top box
*/
 .logo {
  color: #133957;
  font-size: 200px;
  }

/* Add color to all icons and set the font-size */
.logo-small {
  color: #bed8da;
  font-size: 50px;
  }
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
 }

/* Style images. */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

a:link {
  text-decoration: none;
}

/* Styling Panels */
.panel {
    border: 1px solid #003141;
    border-radius:0;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #003141;
    background-color: #fff !important;
    color: #003141;
}
.panel-heading {
    color: #F5DEB3 !important;
    background-color: #003141 !important;
    padding: 25px;
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
@media only screen and (max-width: 1180px) {
  .panel-heading {
    height: 160px;
  }
}

.panel-body {
  padding: 0px;
}

.ulPadding {
  height: 200px;
  padding: 20px;
  text-align: left;
}

@media only screen and (max-width: 1180px) {
  .ulPadding {
    height: 240px;
  }
}

@media only screen and (min-width: 767px) {
  .ulPadding {
    height: 365px;
  }
}

.panel-footer {
    background-color: #fff !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #003141;
    color: #fff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Styling About */
/* #about {
  padding: 80px;
} */


.about {
  border-style: solid;
  border-radius: 15px;
  padding: 40px;
  margin: 100px 0px;
}

@media only screen and (max-width: 730px) {
  .about {
    margin: 50px 100px;
  }
}

@media only screen and (max-width: 500px) {
  .about {
    margin: 0px;
  }
}
/* Footer  */
footer {
    background-color: #070f13;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #F5DEB3;
}
